body{
  height: 1773px;
}
.location .l1 a{
 text-decoration: none;
 color: white;
}
.location .l3 a{
 text-decoration: none;
 color: #2E2E2E;
}
.event1{
  display: block;
  width: 1440px;
  height: 992px;
  background-color: #2E2E2E;
  margin-top: 50px;
}
.event1 .poster1{
  display: block;
  position:absolute;
  width: 609px;
  height: 913px;
  background: url(images/postor1_1.png);
  left: 108px;
  top: 452px;
  animation: postor1 20s alternate infinite;
}
.text4{
  display: block;
  position: absolute;
  color: white;
  font-size: 30px;
  font-family: "TT Hazelnuts Edu";
  left: 810px;
  top: 420px;
}
.text5{
  display: block;
  position: absolute;
  color: #B3BE05;
  font-size: 30px;
  font-family: "TT Hazelnuts Edu";
  font-style: italic;
  left: 810px;
  top: 1120px;
}
.text6{
  display: block;
  position: absolute;
  color: white;
  font-size: 44px;
  font-family: "TT Hazelnuts Edu";
  left: 810px;
  top: 1220px;
}
.event1 .strelka1{
  display: block;
  position:absolute;
  width: 69px;
  height: 122px;
  background: url(images/strelka1.png);
  right: 50px;
  top: 852px;
}
@keyframes postor1 {
  25%{background: url(images/postor1_2.png);}
  50%{background: url(images/postor1_3.png);}
  75%{background: url(images/postor1_1.png);}
}
